@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

h2{
    color: rgb(17, 16, 16);
    text-align: center;
}

h3{
    font-size: 18px;  
    text-align: center;
    color: rgb(85, 104, 85);
}

/* .pageerror{
    background-color: grey;
} */
