{% load bootstrap4 %}
{% load static%}
 

  {% if title %}
  <title>Gallery Hub - {{title}}</title>
  {% else %}
    <title> Gallery Hub</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basepics.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
    
  {% endblock %}



    {% include "navbar.html" %}

    {% block content %}
    
    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        
        
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}

