{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <br><br>
    <hr>
    <h2 class="text-center">view category images</h2>


    <div class="row">
    {% for image in images %}
        <div class="col-md-4 col-sm-3 col-xs-3 p-2">
            <img class="card-img-top img-responsive" id="img{{image.id}}" src="{{image.image.url}}" alt="Card image cap">
            <!-- <p class="card-text">Image Name: {{image.image_name}}.</p>             -->
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}