<!-- <h1> Welcome to the Gallery Hub!!</h1> -->
{% extends 'base.html' %}
{% block content %}
{{block.super}}

<div class="jumbotron text-center" >
    <h2 class="text-center" style="font-size: 35px;font-family: 'font-family: 'Sansita Swashed', cursive;'">
    <strong> Welcome to the Gallery Hub!!</strong></h2>
    <p style="color: rgb(17, 16, 16);font-size: 15px">Search for photos from categories such as Food, Birthday, Cities, Entertainment, Lifesytle, Animals and Nature </p><br>
    <div>
        <a target="_blank" href="{%url 'welcome'%}" class="btn btn-success">View my Gallery</a>
    </div>
</div>

{% endblock %}